<tr>
  <td><%= link_to user.email, user_path(user) %></td>
  <td>
    <%= user.online? ? "ON-LINE" : "OFF-LINE" %>
  </td> 
  <td><%= user.courses.count  %></td>
  <td>
    <% user.roles.each do |role| %>
      <span class="badge bg-info text-dark"><%= role.name %></span>
    <% end %>
  </td>
  <td><%= user.last_sign_in_at %></td>
  <td><%= user.sign_in_count %></td>
  <td><%= link_to "EDIT USER ROLES", edit_user_path(user), class: 'btn btn-primary btn-sm' %></td>
</tr>