<div class="col">
  <div class="card">
    <div class="card-header">
      <%= link_to user.email, user_path(user) %>
      <% if user.online? %>
        <p><i class="fas fa-circle text-success"></i> ON-LINE</p>
      <% else %>
      <p><i class="fas fa-circle text-danger"></i> OFF-LINE</p>
      <% end %>
    </div>
    <div class="card-body">
      <h6>Courses Created - <%= user.courses.count  %></h6>
    </div>
    <div class="card-footer">
      <% user.roles.each do |role| %>
        <span class="badge bg-info text-dark"><%= role.name %></span>
      <% end %>
    </div>
    <div class="card-footer">
      <p>Current Ip - <%= user.current_sign_in_ip.to_s %></p>
      <p>Last Sign In Ip - <%= user.last_sign_in_ip.to_s %></p>
      <p>Last Sign In Ip - <%= user.current_sign_in_at %></p>
      <p>Last Sign In Ip - <%= user.last_sign_in_at %></p>
      <p>No Of Logins - <%= user.sign_in_count %></p>
    </div>
    <div class="card-footer">
      <%= link_to "EDIT USER ROLES", edit_user_path(user), class: 'btn btn-primary btn-sm' %>
    </div>
  </div>
</div>