<%= form_with(model: [course, lesson]) do |form| %>
  <% if lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
        <% lesson.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div><br>

  <div class="field">
    <%= form.label :content %>
    <%= form.rich_text_area :content, class: 'form-control' %>
  </div><br>

  <div class="actions">
    <%= form.submit "Submit", class: 'btn btn-lg btn-primary' %>
  </div>
<% end %>
