<div class="col">
  <div class="card">
    <div class="card-header">
      <%= link_to course.title, course_path(course) %>
    </div>
    <div class="card-body">
      <%= course.description %>
    </div>
    <div class="card-footer">
      <h5> By - <strong><%= course.user %></strong></h5>
    </div>
    <div class="card-footer">
      <%= link_to 'Edit', edit_course_path(course), class: 'btn btn-sm btn-info' %>
      <%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
    </div>
  </div>
</div>