<div class="col">
  <div class="card">
    <div class="card-header">
      <%= link_to course.title, course_path(course) %>
    </div>
    <div class="card-body">
      <span class="btn btn-sm btn-info"><%= course.level.capitalize %></span>
      <span class="btn btn-danger btn-sm"><%= course.language.capitalize %></span>
      <span class="btn btn-sm btn-info"><%= number_to_currency course.price %></span>
    </div>
    <div class="card-body">
      <%= course.short_description %>
    </div>
    <div class="card-footer">
      <h5> By - <strong><%= course.user %></strong></h5>
    </div>
    <div class="card-footer">
      <% if current_user && policy(course).edit? %>
        <%= link_to 'Edit', edit_course_path(course), class: 'btn btn-sm btn-info' %>
        <%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
      <% else %>
        <h4>Authers Area</h4>
      <% end %>
    </div>
  </div>
</div>