<div class="container">
  <h1 class="text-center"> Courses (<%= @courses.count %>)</h1>
  <hr>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col-md-3">
      <%= search_form_for @q do |f| %>
        <%= f.label :title_cont %><br>
        <%= f.search_field :title_cont, class: 'form-control' %><br>
      
        <%= f.label :description_cont %><br>
        <%= f.search_field :description_cont, class: 'form-control' %> <br>
      
        <%= f.label :level %><br>
        <%= f.select :level_eq, ["beginner", "intermediate","advanced"],{ include_blank: true }, class: 'form-control' %><br>

        <%= f.label :language %><br>
        <%= f.select :language_eq, ["english", "other"], { include_blank: true }, class: 'form-control' %><br>

        <%= f.label :price %><br>
        <%= f.number_field :price_eq, class: 'form-control' %><br>
      
        <%= f.submit "Search", class: 'btn btn-lg btn-primary' %>
      <% end %>
    </div>
    <div class="col-md-9">
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <%= render @courses %>
      </div>
    </div>
  </div>
</div>
