<p id="notice"><%= notice %></p>
<div class="container">
  <h5 class="text-center">
    <%= @course.title %>
  </h5>
  <hr>
  <%= @course.description %>
</div>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
