<!DOCTYPE html>
<html>
  <head>
    <title>Coursepool</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="nav">
      <%= render "shared/navbar" %>
    </div>
    <%= render 'shared/notifications' %>
    <div id="main" class="mt-2">
      <%= yield %>
    </div>
    <div id="footer">
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
